.home-container{
  background-color: #d7d7d7;
}

.User-Pokemons-heading{
  color: rgb(255, 132, 2);
  font-weight: 600;
  font-size: 32px;
  /* text-align: left; */
  padding: 1% 2% 1% 2%;
}


.pokemon-intro-container{
  color: rgb(255, 132, 2);
  font-size: 32px;
  font-weight: 600;
}


.pokemon-container {
  margin: 1% 0% 2% 5%;
  padding: 2% ;
  height: fit-content;
  width: 90%;
  display: flex;
  align-items: center;
  /* background-color: #FFE7A0; */
  margin-bottom: 5px;
  border-radius: 5px;
  /* border: 1px solid black;  */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}


.pokemon-container .img-container {
  padding: 1% 2% 1% 2%;
  margin: 0%;
  text-align: center;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}

.description-container {
  flex-grow: 1;
  margin: 0% 5% 0% 5%;
  padding: 2% 5%;
  text-align: left;
  
  border-radius: 5px;
}

.action-buttons {
  flex-grow: 1;
  padding: 0px 20px;
}
